*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: center;
    background-image: url("/Web Tech Project/Images/pexels-eberhard-grossgasteiger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    display: flex;
    text-align: center;
    min-width: 55vh;
    padding: 60px 15px;
    margin-top: 5%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 10px 25px 5px black;
    backdrop-filter: blur(15px);
}

form:hover{
    transform: translateX(5px) translateY(20px);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

#input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
}

#uid ,#psw{
    position: relative;
    width: 250px;
}

#uid input ,#psw input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    outline: none;
    color: blue;
    font-size: 1em;
}

#uid span ,#psw span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
}

#uid input:valid ~ span ,#psw input:valid ~ span,
#uid input:focus ~ span ,#psw input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 15px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
    transition: 0.5s;
}

#uid:nth-child(2) input:valid ~ span,#psw:nth-child(2) input:valid ~ span,
#uid:nth-child(2) input:focus ~ span,#psw:nth-child(2) input:focus ~ span
{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}

#uid input:valid ,#psw input:valid,
#uid input:focus ,#psw input:focus
{
    border: 1px solid #00dfc4;
}

#remember_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: large;
}

#login_btn{
    text-align: center;
    padding: 15px;
}

#signup{
    text-align: center;
    padding-top: 0%;
    font-size: large;
}

#signup span a{
    text-decoration: none;
    color: black;
}

#division{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    padding: 0px;
    justify-content: space-evenly;
}

#options{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 0%;
}

#options a{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}